# Xcode
#
build/
DerivedData/
*.xcodeproj
!project.yml

# User-specific
xcuserdata/
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# OS X
.DS_Store
*.swp
*~.nib

# Web / Node
node_modules/
website/node_modules/
website/dist/
.npm
.eslintcache

# Releases
*.zip
*.dmg
build_release/

# Other
*.lock
*.mode*
bitrise.yml
